.svn
.idea
target
logs
out
stacktrace.log

.class

# default HSQL database files for production mode
prodDb.

# general HSQL database files
Db.properties
Db.script

# project release file
.war

# plugin release files
.zip

# older plugin install locations
plugins
web-appplugins

# temporary build files
target 

hs_err_pid
.DS_Store

.iml

## Directory-based project format
## File-based project format
.ipr
.iws

## Plugin-specific files

# IntelliJ
out

# mpeltonensbt-idea plugin
.idea_modules

# JIRA plugin
atlassian-ide-plugin.xml

.classpath
.project